config SHIELD_OFFSETKEY_CENTRAL_DONGLE
    def_bool $(shields_list_contains,offsetkey_central_dongle)

config SHIELD_OFFSETKEY_PERIPHERAL_LEFT
    def_bool $(shields_list_contains,offsetkey_peripheral_left)

config SHIELD_OFFSETKEY_PERIPHERAL_RIGHT
    def_bool $(shields_list_contains,offsetkey_peripheral_right)
