/*
 * Copyright (c) 2020 ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <dt-bindings/led/led.h>
#include "offsetkey.dtsi"
#include "split_input_common.dtsi"
#define SYMBOLS 2
#include "rgb.dtsi"

/ {
    chosen {
        zmk,underglow = &led_strip;
        zmk,kscan = &mock_kscan;
        zmk,matrix-transform = &default_transform;
        zephyr,display = &oled;
    };

    mock_kscan: mock_kscan {
        compatible = "zmk,kscan-mock";
        columns = <19>;
        rows = <6>;
        events = <0>;
    };
};

&pinctrl {
    spi3_default: spi3_default {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 22)>; // WS2812_VEXT_DATA
        };
    };

    spi3_sleep: spi3_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 22)>;
            low-power-enable;
        };
    };
};

&trackball_listener {
    status = "okay";
};

/* Override OLED to 128x64 for dongle */
&oled {
    height = <64>;
    multiplex-ratio = <63>;
    /delete-property/ com-sequential;
    /delete-property/ inversion-on;
};
